{% extends 'template.html' %}
{% block main_title %} <i class="fas fa-th"></i> Latest posts {% endblock %}
{% block main_class %}class="posts"{% endblock %}
{% block main_content %}
    <div class="postsWrap container">
        <div class="row">
        {% for post in posts %}
            <div class="summary col-xs-12 col-sm-6 col-md-6 col-lg-4">
                <div class="summary__wrap">
                    <a href="{% url 'post' post.owner.username post.pk %}" title="{{ post.title }}">
                        <img src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}">
                    </a>
                    <h2><i class="fas fa-square"></i>{{ post.title }}</h2>
                    <p>{{ post.short_description }}</p>
                    <div class="summary__meta">
                        <em><i class="fas fa-calendar-alt"></i>Posted on {{ post.publish_Date|date:'d/m/Y' }} by <span>{{ post.owner|title }}</span></em>
                        <div>Categories: {% for category in post.categories.all %} <span>{{ category.title }} |</span> {% endfor %}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
{% endblock %}
