{% extends 'template.html' %}
{% block head_title %} {{ post.title }} | Wordplease{% endblock %}
{% block main_title %} {{ post.title }} {% endblock %}
{% block main_content %}
    <div class="post">
        <img src="{{ post.image }}" alt="{{ post.title }}" title="{{ post.title }}">
        <p>{{ post.content }}</p>
        <div class="summary__meta">
            <em>Posted by {{ post.owner.first_name|title }} {{ post.owner.last_name|title }} on {{ post.publish_Date|date:'d/m/Y' }}</em>
            <div>Categories: {% for category in post.categories.all %} <span>{{ category.title }} |</span> {% endfor %}</div>
        </div>
    </div>
{% endblock %}
